::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding: 0;
}

body{
    font-family: sans-serif;
    color: #fff;
    background-color: #1D1D1D;
}

/* header-style */

header{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    
}

.sound-icon{
    font-size: 1.2rem;
    margin: 7px;
    color: #f50057;
}

.sound-icon.active{
    color: #08fdd8;
}

.on-off{
    cursor: pointer;
    margin-left: 5px;
}

#off{
    color: #f50057;
}

#on{
    display: none;
    color: #08fdd8;
}

#on.active{
    display: block;
}

#off.active{
    display: none;
}

.hamburger-button {
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
  
.hamburger-button > span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 9999px;
    background-color: #fff;
}

.hamburger-button,
.hamburger-button > span {
    transition: all 0.4s ease-in-out;
}
  
.hamburger-button > span:not(:last-child) {
    margin-bottom: 7px;
}
  
.hamburger-button.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}
  
.hamburger-button.active > span:nth-child(2) {
    width: 0;
}
  
.hamburger-button.active > span:nth-child(1),
.hamburger-button.active > span:nth-child(3) {
    transition-delay: 0.4s;
    height: 4px;
}
  
.hamburger-button.active > span:nth-child(1) {
    transform: translateY(9px);
    width: 30px;
    height: 4px;
}
  
.hamburger-button.active > span:nth-child(3) {
    transform: translateY(-12px) rotate(90deg);
}

/* aside section  */

.aside{
    width: 100%;
    height: 0%;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    background-color: #191919;
    z-index: 1;
    transition: all 1s;
}

.aside.active{
    height: 100%;    
}

.aside-wrapper{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo-section{
    width: 100%;
    min-height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}

.logo-img{
    width: 50px;
    height: auto;
}

.logo span{
    font-size: 1.7rem;
    color: #fff;
}

.logo-section > span{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, Serif;
}

/* nav section inside sidebar*/

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #908096;
    transition: all 0.9s;
}

.nav-links a:hover{
    color: #08fdd8;
}

.hr-nav-links{
    margin-top: 0;
    border-width: 1px;
    border-style: solid none none;
    width: 100%;
    position: absolute;
    left: 0;
    border-color: #2d2d2e;
}

.social-icons{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-left: 3%;
}

.social-icons li{
    width: 30px;
    font-size: 1rem;
}

.social-icons-menu{
    color: #908096;
    transition: color 0.9s;
}

.social-icons-menu:hover{
    color: #08fdd8;
}


/* text section */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    position: relative;
}

.text-zone h1{
    font-size: 2.2rem;
    line-height: 40px;
    letter-spacing: -1px;
}

.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: 150px;
    left: 0;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    bottom: 310px;
    right: 9.0rem;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-logo-img{
    width: 2.5rem;
    height: auto;
    margin-bottom: -9px;
}

.text-zone .gray-text{
    margin-top: 1.875%;
    letter-spacing: 3px;
    font-size: 0.8rem;
    position: relative;
    color: #a2a2a3;
}

.text-zone .gray-text::before{
    content: '<P>';
    position: absolute;
    top: -1.5rem;
    left: -1.9rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone .gray-text::after{
    content: '</P>';
    position: absolute;
    top: 1.5rem;
    left: -1.9rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.contact-button {
    margin-top: 1.9rem;
    width: 10rem;
    height: 2.9rem;
    letter-spacing: 1px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    top: -1.1rem;
  }
  
  .contact-button::before {
    content: "";
    background:
      linear-gradient(
        45deg,
        #f00,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #f00
      );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .contact-button::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

  /* green hover button */

/* .contact-button{
    background-color: #1D1D1D;
    color: #08fdd8;
    border-width: 1px;
    border: solid none none;
    border-color: #08fdd8;
    width: 100%;
    max-width: 200px;
    height: 3rem;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9;
    transition: all ease 0.9s;
}

.contact-button:hover{
    box-shadow: inset 200px 0 0 0 #08fdd8;
    color: #181818;
} */

.scroll-down{
    position: absolute;
    right: -1.27rem;
    bottom: 3.3rem;
    transform: rotate(90deg);
    display: block;
    font-size: 00.8rem;
}

.scroll-down-left{
    left: -1.87rem;
    right: auto;
}

.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}

.scroll-down i{
    transform: rotate(-90deg);
    margin-left: 10px;
}

@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}


/* work section */

#work-section{
    padding: 5rem 0 5rem 1rem;
    position: relative;
}

#header{
    font-size: 2rem;
    margin-bottom: 30px;
}

.light{
    color:rgb(0,238,255);
    position: relative;
    font-weight: bold;
}

.light::before{
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px rgb(0,238,255);
    filter: blur(10px) brightness(0);
    animation: flickers 2s linear forwards;
    animation-delay: 1s;
}

@keyframes flickers {
    0%{
        filter: blur(5px) brightness(1);
    }

    3%{
        filter: blur(5px) brightness(0);
    }

    6%{
        filter: blur(5px) brightness(0);
    }

    7%{
        filter: blur(5px) brightness(1);
    }

    8%{
        filter: blur(5px) brightness(0);
    }

    9%{
        filter: blur(5px) brightness(1);
    }

    10%{
        filter: blur(5px) brightness(0);
    }

    20%{
        filter: blur(5px) brightness(1);
    }

    50%{
        filter: blur(5px) brightness(1);
    }

    99%{
        filter: blur(5px) brightness(0);
    }

    100%{
        filter: blur(5px) brightness(1);
    }
}

.text-zone-2 p{
    line-height: 1.5;
}

.fake-big-work{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 10px;
    bottom: -70px;
    letter-spacing: -10px;
    z-index: -999;
}




@media (min-width: 768px){
    header{
        justify-content: flex-end;
    }

    .hamburger-button{
        display: none;
    }

    .aside{
        width: 13%;
        height: 100%;
    }

    .logo{
        text-align: center;
        width: 80%;
    }

    .logo span{
        font-size: 1.3rem;
    }

    .logo-section{
        min-height: 20vh;
        padding-bottom: 1rem;
    }

    .logo-img{
        height: auto;
        width: 6.25rem;
    }

    .nav-links{
        margin-top: 40%;
    }

    .social-icons{
        margin-top: 30%;
        margin-bottom: 0;
        margin-left: 10%;
    }

    /* home section */
    #section-home{
        padding-left: 15rem;
        top: -5rem;
    }

    .text-zone h1{
        font-size: 6.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }

    .text-zone h1::before{
        content: '<h1>';
        top: 130px;
        left: 12.7rem;
    }
    
    .text-zone h1::after{
        content: '</h1>';
        bottom: 200px;
        right: 33.7rem;  
    }
    .text-logo-img{
        width: 5rem;
        height: 8rem;
        position: relative;
        top: 0.9rem;
        left: 0.9rem;
    }

    .text-zone .gray-text{
        font-size: 1rem;
        margin-top: -3rem;
    }

    .scroll-down{
        right:-30px;
        bottom: -2.3rem;
    }

    .scroll-down-left{
        left: 10.25rem;
        right: auto;
    }

    /* work section */

    



}